/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
/*Styles*/
@import url("components/banner.css");
@import url("components/footer.css");

/* Utilities */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

